@page
@model IWEI.Areas.Admin.pages.SiteGallery.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Gallery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Gallery.Id" />
            <div class="form-group">
                <label asp-for="Gallery.Src" class="control-label"></label>
                <input asp-for="Gallery.Src" class="form-control" />
                <span asp-validation-for="Gallery.Src" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Gallery.Show" /> @Html.DisplayNameFor(model => model.Gallery.Show)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Gallery.Sort" class="control-label"></label>
                <input asp-for="Gallery.Sort" class="form-control" />
                <span asp-validation-for="Gallery.Sort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
