@page
@model IWEI.Pages.Page.AimsModel
@{
}


<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/img/bg0123.png" style="background-image: url('../img/bg0123.png'); background-position: 50% 57px;">
    <div class="container pb-50">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="">
                    <h3 class="title text-white">OUR AIMS AND OBJECTIVES</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="" style="margin:20px 0;">

                    <h3 class="bg-primary" style="padding:15px;">
                        Empower Every Woman And Economically Challenged family in Communities we have to reach out to improve their standard of living.

                    </h3>

                </div>
                <div class="clearfix"></div>
                <div class="" style="margin:20px 0;">

                    <h3 class="bg-danger" style="padding:15px;">Educate every girl, youth and woman from village to village.</h3>

                </div>        <div class="clearfix"></div>

                <div class="">

                    <h3 class="bg-warning" style="padding:15px;">Give every woman and family in Item communities the opportunities to empower herself and the family to achieve a better quality of life.</h3>

                </div>        <div class="clearfix"></div>

                <div class="" style="margin:15px 0;">

                    <h3 class="bg-info" style="padding:15px;">
                        Promote Healthy lifestyle among Item youth women and families.
                    </h3>

                </div>        <div class="clearfix"></div>

                <div class="" style="margin:15px 0;">

                    <h3 class="bg-gray" style="padding:15px;">
                        Promote knowledge of civic responsibilities among item youth, women and families.
                    </h3>

                </div>        <div class="clearfix"></div>

            </div>
        </div>
    </div>
</section>