@page
@model IWEI.Pages.Page.ContactModel
@{
}

<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/img/bg0123.png" style="background-image: url('../img/bg0123.png'); background-position: 50% 57px;">
    <div class="container pb-50">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-white">CONTACT US</h3>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Section: Have Any Question -->
<section class="divider">
    <div class="container pt-60 pb-60">
        <div class="section-title mb-60">
            <div class="row">
                <div class="col-md-12">
                    <div class="esc-heading small-border text-center">
                        <h3>Have any Questions?</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="contact-info text-center">
                        <i class="fa fa-phone font-36 mb-10 text-theme-colored"></i>
                        <h4>Call Us</h4>
                        <h6 class="text-gray">Phone: +234 813 367 9759</h6>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="contact-info text-center">
                        <i class="fa fa-map-marker font-36 mb-10 text-theme-colored"></i>
                        <h4>Address</h4>
                        <h6 class="text-gray">College Road, Amaokwe Item, Abia State, Nigeria</h6>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="contact-info text-center">
                        <i class="fa fa-envelope font-36 mb-10 text-theme-colored"></i>
                        <h4>Email</h4>
                        <h6 class="text-gray">contact@iwei-initiative.com</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Divider: Contact -->
<section class="divider bg-lighter">
    <div class="container">
        <div class="row pt-30">
            <div class="col-md-7">
                <h3 class="line-bottom mt-0 mb-30">Interested in discussing?</h3>

                <!-- Contact Form -->
                <form id="" name="contact_form" class="" novalidate="novalidate">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Name <small>*</small></label>
                                <input name="form_name" class="form-control" type="text" placeholder="Enter Name" required="" aria-required="true">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email <small>*</small></label>
                                <input name="form_email" class="form-control required email" type="email" placeholder="Enter Email" aria-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Subject <small>*</small></label>
                                <input name="form_subject" class="form-control required" type="text" placeholder="Enter Subject" aria-required="true">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone</label>
                                <input name="form_phone" class="form-control" type="text" placeholder="Enter Phone">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea name="form_message" class="form-control required" rows="5" placeholder="Enter Message" aria-required="true"></textarea>
                    </div>
                    <div class="form-group">
                        <input name="form_botcheck" class="form-control" type="hidden" value="">
                        <button type="submit" class="btn btn-dark btn-theme-colored btn-flat" data-loading-text="Please wait...">Send your message</button>
                    </div>
                </form>

            </div>
            <div class="col-md-5">


                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=College%20Road,%20Amaokwe%20Item,%20Abia%20State,%20Nigeria&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">123movies</a><br>
                        <style>
                            .mapouter {
                                position: relative;
                                text-align: right;
                                height: 500px;
                                width: 600px;
                            }
                        </style><a href="https://www.embedgooglemap.net"></a>
                        <style>
                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                height: 500px;
                                width: 600px;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

