@page
@model IWEI.Pages.Page.EventsModel
@{
}
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/img/bg0123.png" style="background-image: url('../img/bg0123.png'); background-position: 50% 57px;">
    <div class="container pb-50">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-white">EVENTS</h3>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="team">
    <div class="container pb-80">

        <div class="section-content">
            <div class="row">
                <div class="col-md-12 pb-sm-30">
                    ...Coming soon
                </div>
            </div>
        </div>
    </div>
</section>