@page
@model IWEI.Pages.Page.FounderModel
@{
}


<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/img/bg0123.png" style="background-image: url('../img/bg0123.png'); background-position: 50% 57px;">
    <div class="container pb-50">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-white">FOUNDER</h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <img src="~/img/speech.jpg" style="" class="img-fluid" />

            </div>
            <div class="col-sm-12 col-md-5">
                <h3 class="text-theme-colored text-uppercase mt-0">The Founder's Desk</h3>

                <p style="font-size:19px;">
                    It is with great pleasure to welcome you to Item women empowerment initiative a non-governmental organization (N.G.O), registered with the Corporate Affairs Commission, Nigeria in December 2014 and also with the Abia State Ministry of Women Affairs
                    <br /><br />
                    This organization is born out of a dream and lifelong desire of the founder to make the woman the corner stone of a happy united family that is willing and able to contribute to the general economic and social well-being of the community in particular and the nation generally.
                    <br />
                </p>

            </div>
            <div class="col-md-12">

                <p style="font-size:17px;">
                    The founder, Mrs. Nnenna Adaeze Orji, married to Prof. Herbert Onye Orji, a prominent son of the soil, and on retirement from public service after twenty seven years, decided to fulfill her dream of improving the quality of living standards of rural women and their families.
                    <br />
                    IWEI is deeply concerned over the high rate of school drop outs among the children and youths in rural areas. Unfortunately some parents cannot afford to pay the so called levies and fees still collected at primary and secondary schools in Abia and other states An Idle Child or Youth is the devil's workshop. A Mind Is A Terrible Gift To Waste. These youths are the future of the world and among them are the great minds that can lead the people into a brighter tomorrow as Scientists, President, Technology experts, inventors. Artists, Noble Prize winners, etc.
                    <br /><br />
                    If we do not teach the disadvantaged women and youth of our rural communities how to fish they will immigrate hopelessly to unknown urban areas to face the harsh conditions that make them vulnerable tools in the hands of criminal human and drug traffickers.
                    <br />
                    Join hands with Us. Lend Helping Hand to provide each woman, each young girls, boys and each child the opportunity to grow his or her God given talent for the improvement of both the families and development of communities.

                </p>
            </div>
        </div>
        </div>
</section>