@page
@model IWEI.Pages.Page.NewsModel
@{
}
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/img/bg0123.png" style="background-image: url('../img/bg0123.png'); background-position: 50% 57px;">
    <div class="container pb-50">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-white">NEWS</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container pt-70">
        

        <div class="row">
            <div class="col-md-4">
                <article class="post clearfix maxwidth600 mb-sm-30 wow fadeInRight" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s;">
                    <div class="entry-header">
                        <div class="post-thumb thumb"> <img src="~/img/waec.jpg" alt="" class="img-responsive img-fullwidth"> </div>
                        <div class="entry-meta meta-absolute text-center pl-15 pr-15">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    @*<ul>
                                            <li><a class="text-white" href="#"><i class="fa fa-thumbs-o-up"></i> 265 <br> Likes</a></li>
                                            <li class="mt-20"><a class="text-white" href="#"><i class="fa fa-comments-o"></i> 72 <br> comments</a></li>
                                        </ul>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="entry-content border-1px p-20">
                        <h5 class="entry-title mt-0 pt-0"><a asp-page="/page/Blog">NGO pays WAEC fees for Abia indigenes</a></h5>
                        <a class="btn btn-flat btn-dark btn-theme-colored btn-sm pull-left" asp-page="/page/Blog">Read more</a>
                        <ul class="list-inline entry-date pull-right font-12 mt-5">
                            <li><a class="text-theme-colored" asp-page="/page/Blog">Admin | IWIE</a></li>
                            <li><span class="text-theme-colored">Jan 13, 2022</span></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <article class="post clearfix maxwidth600 mb-sm-30 wow fadeInRight" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s;">
                    <div class="entry-header">
                        <div class="post-thumb thumb"> <img src="~/img/fmcumuahia.jpg" alt="" class="img-responsive img-fullwidth"> </div>
                        <div class="entry-meta meta-absolute text-center pl-15 pr-15">
                            <div class="display-table">
                                <div class="display-table-cell">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="entry-content border-1px p-20">
                        <h5 class="entry-title mt-0 pt-0"><a asp-page="/page/Blog">Center for Public Health, Umuahia Abia State Nigeria</a></h5>
                        <a class="btn btn-flat btn-dark btn-theme-colored btn-sm pull-left" asp-page="/page/Blog">Read more</a>
                        <ul class="list-inline entry-date pull-right font-12 mt-5">
                            <li><a class="text-theme-colored" asp-page="/page/Blog">Admin | IWIE</a></li>
                            <li><span class="text-theme-colored">Nov 13, 2021</span></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <article class="post clearfix maxwidth600 mb-sm-30 wow fadeInRight" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s;">
                    <div class="entry-header">
                        <div class="post-thumb thumb"> <img src="~/img/abianews.jpg" alt="" class="img-responsive img-fullwidth"> </div>
                        <div class="entry-meta meta-absolute text-center pl-15 pr-15">
                            <div class="display-table">
                                <div class="display-table-cell">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="entry-content border-1px p-20">
                        <h5 class="entry-title mt-0 pt-0"><a href="#">NGO takes education to next level in Abia</a></h5>
                        <a class="btn btn-flat btn-dark btn-theme-colored btn-sm pull-left" asp-page="/page/Blog">Read more</a>
                        <ul class="list-inline entry-date pull-right font-12 mt-5">
                            <li><a class="text-theme-colored" asp-page="/page/Blog">Admin | IWIE</a></li>
                            <li><span class="text-theme-colored">Oct 21, 2021</span></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>