@page
@model IWEI.Pages.Page.TeamModel
@{
}


<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/img/bg0123.png" style="background-image: url('../img/bg0123.png'); background-position: 50% 57px;">
    <div class="container pb-50">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-white">TRUSTEES</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .content {
        padding: 20px;
        overflow: hidden;
    }

        .content img {
            margin-right: 15px;
            float: left;
        }

        .content h3,
        .content p {
            margin-left: 15px;
            display: block;
            margin: 2px 0 0 0;
            text-align:justify;
        }
</style>

<section id="team">
    <div class="container pb-80">
       
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 pb-sm-30">


                    <div class="content">

                        <h3>DR MRS NNENNAADAEZE ORJI</h3>
                        <p>
                            <img src="~/pic/trustee.jpg" alt="" style="max-height:200px;" class="img-circle">
                            Former Chairman/Chief Judge, Investment & Securities Tribunal Abuja
                            <br />
                            Dr. Mrs Nnenna Orji is the wife of Prof. Herbert Onye Orji, a prominent son of Item, She was the Former Director Enforcement and Compliance Department of  Securities and Exchange Commission, SEC and also the Legal adviser, where she worked for 18years from 1984-2002 in various other capacities.
                            <br />

                            In 2002, she was appointed Pioneer Executive Chairman/Chief Judge of Investments and Securities Tribunal(IST) a specialized court for the Nigerian Capital Market.
                            <br />
                            She retired December 2012. While studying in the United State of America, Nnenna was involved with many charity organizations as volunteer and part time worker.
                            <br />
                            She was the President of Healthcare Organization for NGO that in the 1990's was in the forefront of partnering with Medical Mission Group of Georgia and other USA based charities €0 bring free quality medical services to thousands of rural and urban poor in several States of Nigeria.
                            <br />
                            Born to parents who were philanthropists, educationists, and pre 50's school proprietors she imbibed the core Christian values of love and charity without boundaries.
                            <br />
                            Upon retirement Dr. Mrs Orji decided to dedicate herself to the service of humanity focusing on disadvantaged girls, youth and women in the rural communities of Nigeria. Item Women Empowerment Initiative(lWEl) is one of the organizations through which she offers help to girls, youths and women in rural communities to achieve their potentials and better standard of living. IWEI will open doors of opportunities to those who had lost hope of getting out of poverty. She is determined to transform young rural youth into the next generation of great minds. inventors. scientists, ethical leaders, politicians with values, philanthropists, educationists, model families with a focus on love of humanity. Her major weapon is Quality Education For All with Education that Focuses on both learning and character.

                        </p>
                    </div>

                </div>
                <div class="col-md-12 pb-sm-30">
                    <div class="content">

                        <h3>CHIEF MRS NNENNA OGAN EJEKAM</h3>
                        <p>
                            <img src="~/pic/trustee2.jpg" alt="" style="max-height:200px;" class="img-circle">
                            Legal Practitioner & Member Tax Appeal Tribunal Abuja
                            <br />
                            Nnenna Ude Ejekam is the second child of the late Professor O.K. Ogan, an eminent obstetrician and gynecologist, the first Nigerian and second West African to become a Fellow of the Royal College of Obstetrician gynecologist in the united Kingdom. and the late Mrs. Oyidia Ogan (Nee Ogali).
                            <br />
                            Nnenna Ogan- Ejekem was educated in the United Kingdom and Nigeria and was called to the Bar as a Barrister and Solicitor of the Supreme Court of Nigeria in 1980.
                            <br />
                            She became a Partner of the oldest law firm in Nigeria Irving and Bonnar (established 1917) before setting up the firm Nnenna Ejekam Associates. NEA in 1995.
                            <br />
                            She is a Notary Public and member of the Chartered institute of Arbitrators and Fellow of the Chartered Institute of Mediators and Conciliators.
                            <br />
                            She specialised in Corporate and Commercial Law and has been at the forefront of some of the highest profile transactions in the field of Finance Energy and Capital Market Transactions.
                            <br />
                            Chief Mrs. Nnenna Ejekam has been extremely active in sustaining the Legacy of her parents through services to branches of the Item Union.
                            <br />
                            In recognition of her efforts and contributions towards the welfare and progress of her local community and diverse acts of philanthropy. she has been conferred with several awards:
                            <br />
                            <ul style="list-style-type:circle;">
                                <li>
                                    Okwe Award 2006
                                </li>
                                <li>
                                    Amaokwe Item Welfare union
                                </li>
                                <li>
                                    Bende union (Women's Wing) Lagos Merit Award Ezi Ada Women's Empowerment 2009
                                </li>
                                <li>
                                    Amaokwe Item Welfare Union Merit Award — 2009
                                </li>
                                <li>
                                    Item Female Football Association Grand Merit Award-2010
                                </li>
                                <li>
                                    Ezinwanne Award in 2017 and an additional Merit Award in December,2017,
                                </li>
                                <li>
                                    2018 — Installation as 'Diamond Daughter' to commemorate the of Item Union.
                                </li>
                                <li>
                                    Lagos.mcmoratc the 75 Anniversary of Item Union. Lagos.
                                </li>
                            </ul>



                            <br />
                            Nnenna is married to one of the most respected sons of Urualla (in Ideato LGA of Imo State) and an Architect of international repute, Mr. Martin Chukwuemeka Ejekam.
                            <br />
                            The marriage has been blessed with several children and grandchildren.

                        </p>
                    </div>


                </div>
                <div class="col-md-12 pb-sm-30">
                    <div class="content">

                        <h3>REV. FR. AGAPITUS O. IKE</h3>
                        <p>
                            <img src="~/pic/trustee3.jpg" alt="" style="max-height:200px;" class="img-circle">

                            Reverend Father Agapitus Onyema Ike hails from Ngwoma Obube in Owerri. North LGA of Imo State.
                            <br />
                            He was ordained a Priest by Most Reverend Lucius l. Ugorji. Catholic
                            <br />
                            Bishop of Umuahia Diocese.
                            <br />
                            As a Priest of the diocese, he has served in various capacities in the diocese including as an associate Pastor, Pastor, a chaplain and Dean.

                        </p>
                    </div>


                </div>



                <div class="col-md-12 pb-sm-30">
                    <div class="content">

                        <h3>LADY MRS JUUE NNENNAANEKE</h3>
                        <p>
                            <img src="~/pic/trustee4.jpg" alt="" style="max-height:200px;" class="img-circle">

                            

                            Former First Lady Imo State and President Catholic CWO. Falomo Lagos


                            Early Life & Education

                            Born and raised in Owerri. Imo State of Nigeria. Eldest child of Chief Emmanuel Onoh and Josephine Orji (both of blessed memory)of Amokwe Item in a family of Ten siblings, one of whom was late Professor Herbert O. Orji.   Attended Township School Owerri for primary education and Mbaise Girls Secondary School & Holy Rosary College Enugu for high School. Having obtained a diploma from Pitmans Secretarial College. London and much later completed an undergraduate course at South Eastern University Washington DC USA

                            Working Career & Other Engagements

                            Employed as a staff of National Bank and later joined African Continental Bank where she rose to the level of an office Manager. She was First Lady of Imo State when her husband was appointed Military Administrator of Imo State. During that period. she developed many welfare projects for children. the youth,' the less privileged and widows in Owerri and other parts of Imo State, Other engagements included her participation as a member of a select team that represented then Eastern Nigeria in the Independence Celebrations of Nigeria in Lagos in 1960 as a Brownie. And much tater as First Lady Imo State joined the Nigerian Delegation that partook in the pioneer Women's Conference •in Beijing. China. She is a Life member of National Council of Women Societies (NCWS)

                            She is active in Church matters and was President of Confraternity of Christian Mothers at Church of the Assumption Catholic Parish Falomo Ikoyi Lagos. She is currently President of Lagos Archdiocesan Confraternity of Christian Mothers (LACCM).

                            Personal Life

                            Married to Commodore James NJ Aneke (rtd) and blessed with children and grandchildren.

                            Hobbies

                            Likes reading and takes a lot of interest in gym/exercise workout & singing & travelling.

                        </p>
                    </div>


                </div>



                <div class="col-md-12 pb-sm-30">
                    <div class="content">

                        <h3>MRS. BLESSING N. ONWUMERE</h3>
                        <p>
                            <img src="~/pic/trustee5.jpg" alt="" style="max-height:200px;" class="img-circle">

                            

                            Mrs. Blessing N. Onwumere hails from Arochukwu in Abia State. read Secretarial Administration in Federal PolyteChnic, Nekede- Owerri, Imo State.

                            She is a civil servant (Rtd) from Federal Industrial Training Fund, Jos, Plateau State and International Labour Organization, Lagos.

                            As a Deaconess in her church, she has passion for charity work and has worked as a President General of Ezimeoma Social Club that caters for the less privileged ones in her home town.

                            She is married with children.


                        </p>
                    </div>


                </div>

                

            </div>
            <div class="clearfix"></div>
            
        </div>
    </div>
</section>