@page
@model IWEI.Pages.Page.WhatModel
@{
}




<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/img/bg0123.png" style="background-image: url('../img/bg0123.png'); background-position: 50% 57px;">
    <div class="container pb-50">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-white">WHAT WE DO</h3>
                </div>
            </div>
        </div>
    </div>
</section>




<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 style="font-size:18px;">
                    HOW IT WORKS
                </h3>
                <p style="font-size:17px;">

                    To Achieve its Objectives IWEI uses three major platforms

                </p>
                <div>
                    <span class="bg-primary" style="padding:8px;margin:7px;font-weight:900;font-size:19px;">EDUCATION</span>
                    <span class="bg-danger" style="padding: 8px; margin: 7px; font-weight: 900; font-size: 19px;">SKILL ACQUSITI0N</span>
                    <span class="bg-success" style="padding: 8px; margin: 7px; font-weight: 900; font-size: 19px;">ENRICHMENT ENTERPRENEURSHIP</span>
                </div>
              
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12" style="margin-top:60px;">
               
                <div class="col-sm-12 col-md-6">
                    <h3 class="text-theme-colored text-uppercase mt-0">
                        EDUCATION
                    </h3>
                    <img src="~/pic/Education.jpg" class="img-fluid" style="margin-top:40px;" />
                </div>
                <div class="col-sm-12 col-md-6">

                    <p>

                        In the area of Education, through sponsorships from the Trustees, Individuals, Foundations, Charities, Community Volunteers/Coordinators, IWEI provides:

                    </p>
                    <div class="row mt-30 mb-30 ml-20">
                        <div class="col-xs-12">
                            <ul class="mt-10">
                                <li class="mb-10">
                                    <i class="fa fa-check-circle text-theme-colored"></i>
                                    Basic reading and writing lessons to illiterate and semi - illiterate girl's and woman and disadvantaged youths registered for such programmes to equip them with knowledge and communication skills required to improve their businesses and personal lives.

                                </li>
                                <li class="mb-10">
                                    <i class="fa fa-check-circle text-theme-colored"></i>
                                    Continuing education to women and youths to enable them pass secondary schools examinations and to obtain WAEC/NECO Certificates.

                                </li>
                                <li class="mb-10">
                                    <i class="fa fa-check-circle text-theme-colored"></i>
                                    Assistance to youths to complete primary and secondary education

                                </li>
                                <li class="mb-10">
                                    <i class="fa fa-check-circle text-theme-colored"></i>
                                    Adult literacy education

                                </li>
                                <li class="mb-10">
                                    <i class="fa fa-check-circle text-theme-colored"></i>
                                    Basic health education and practical. hygiene skills

                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <br /><br />
            <div class="col-md-12"  style="margin-top:60px;">

                <div class="col-sm-12 col-md-5">
                    <h3 class="text-theme-colored text-uppercase mt-0">
                        SKILL ACQUISITION
                    </h3>
                    <p style="font-size:19px;">


                        Studies have shown that our governments and the private companies do not have the absorptive capacity to offer jobs to all our growing workforce, This situation for all hands to be on deck to reduce the high level of poverty caused by unemployment.
                        <br /><br />
                        IWEI, through its various programmes focus on developing our rural women and youås to

                        acquire skills as well as learn to start and manage their own businesses and become

                        entrepreneurs.



                    </p>


                </div>


                <div class="col-sm-12 col-md-7">
                    <img src="~/pic/skill.jpeg" class="img-fluid" style="margin-top:5px;" />
                </div>

                <div class="col-md-12">
                    <p>
                        This objective is achieved through sponsorships, collaborations with public and private institutions and its community volunteers.

                    </p>
                    <h3>AREAS OF TRAINING</h3>

                    <div style=" line-height: 3.7;">
                        <span class="bg-primary" style="padding:8px;margin:7px;">Cooking Catering/Baking</span>
                        <span class="bg-danger" style="padding: 8px; margin: 7px;">Sewing/Toiloring</span>
                        <span class="bg-success" style="padding: 8px; margin: 7px;">Bead/Jewelry Making</span>
                        <span class="bg-warning" style="padding: 8px; margin: 7px;">Hairdressing, Plaiting / Weaving</span>

                        <span class="bg-primary" style="padding: 8px; margin: 7px;">Vaseline / Pormade Making</span>
                        <span class="bg-danger" style="padding: 8px; margin: 7px;">Barbing</span>
                        <span class="bg-success" style="padding: 8px; margin: 7px;">Trading / Petty Trading</span>
                        <span class="bg-warning" style="padding: 8px; margin: 7px;">Mechanic / Vulcanizing / Welding</span>

                        <span class="bg-primary" style="padding: 8px; margin: 7px;">Barbing / Making Masonry</span>
                        <span class="bg-danger" style="padding: 8px; margin: 7px;">Electrical Repairs / Maintenance</span>
                        <span class="bg-success" style="padding: 8px; margin: 7px;">Computer Skills/ Repairs</span>
                        <span class="bg-warning" style="padding: 8px; margin: 7px;">Telephone Repairs / Technician</span>

                        <span class="bg-primary" style="padding: 8px; margin: 7px;">Carpentry / Upholestry</span>
                        <span class="bg-danger" style="padding: 8px; margin: 7px;">Faming / Garri Making</span>
                        <span class="bg-success" style="padding: 8px; margin: 7px;">Fish Farming</span>
                        <span class="bg-warning" style="padding: 8px; margin: 7px;">Gardering/ Horticulture</span>

                        <span class="bg-primary" style="padding: 8px; margin: 7px;">Many More</span>
                    </div>


                </div>
            </div>

            <br /><br />
                  <div class="col-md-12" style="margin-top:60px;">
                      <div class="col-md-12">
                          <h3 class="text-theme-colored text-uppercase mt-0">
                              ENRICHMENT/ENTREPRENEURSHIP
                          </h3>
                          <p>

                              

                              To become an entrepreneur and grow a small business you need funds. IWEI employs a combination of strategies to assist women and youths in the rural
                              areas have access to funds.
                             
                              </p>
<h4>
                                  START-UP FUNDS
                              </h4>
<p>
    These are contributions from Trustees, individual and corporate
    donors. Women and Youths most in need and with demonstrable ability to benefit from are eligible.
    <br />

    The amount disbursed to each person range from five thousand Naira to twenty thousand Naira (N 5,000.00 to N20,000.000) Under this category eligible women and youths after training are given funds without interests and no repayment is required. This is a one off assistance and recipient is not eligible for another of this fund, The amount given is always subject to available funds and number of eligible applicants.
    <br />
    

   
    

   

</p>
                      </div>

                          <div class="col-sm-12 col-md-6">
                              <h3 class="text-theme-colored text-uppercase mt-0">
                                  SUPPORT FUNDS
                              </h3>
                              <p>

                                  This category of Funds range from twenty thousand Naira to One Hundred
                                  thousand Naira (N20,000 to N 100,000).
                                  <br />
                                  The amount given to each woman or youth depends on meeting criteria established by the Co-ordinators with approval of the Trustees and on availability of funds. Eligibility also includes ability to repay within stipulated time with or without interest as the case may warrant.


                              </p>


                          </div>
                          <div class="col-sm-12 col-md-6">
                              <h3 class="text-theme-colored text-uppercase mt-0">
                                  SOFT LOAN & GRANTS
                              </h3>
                              <p>

                                  The Trustees through its network of donor agencies, financial institutions and Government agencies will assist women and youth in rural communities source grants and soft loans to start new small businesses, expand existing once. support cottage industries, venture into mechanise farming to fulfill their dreams of being successful entrepreneurs.
                                  
                                  Experienced professionals and volunteers will work with the trustees, coordinators, eligible applicants and women cooperatives to make access to these funds easier and Ying opportunities to achieve better standard of living.


                              </p>


                          </div>
                      </div>




        </div>
        </div>
</section>