@page
@model IWEI.Pages.Page.WhoModel
@{
}

<style>
    .layer-overlay::before {
        background: rgb(17 17 17 / 90%) none repeat scroll 0 0;
        content: " ";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }
</style>

<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/img/bg0123.png" style="background-image: url('../img/bg0123.png'); background-position: 50% 57px;">
    <div class="container pb-50">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-white">WHO WE ARE</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-12">
                

                <p style="font-size:17px;">


                    ITEM WOMEN EMPOWERMENT INITIATIVE (IWEI) is a non-governmental organization (N.G.O). registered with the Corporate Affairs Commission, Nigeria in December 2014 and also with the Abia State Ministry of Women Affairs, as an Incorparated Trusteeship and it is dedicated to the wholistic development of women and youths in rural Nigeria.
                    <br /><br />
                    This organization is born out of a dream and lifelong desire of the founder to make the woman the corner stone of a happy united family that is willing and able to contribute to the general economic and social well-being of the community in particular and the nation generally.
                    <br /><br />

                    The founder, Mrs. Nnenna Adaeze Orji, is married to Prof. Herbert Onye Orji, a prominent son of the soil, and on retirement from public service after twenty seven years, decided to fulfill her dream of improving the quality of living standards of rural women and their families.

                </p>

            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <img src="~/img/about1.jpg" style="" class="img-fluid" />

            </div>
            <div class="col-sm-12 col-md-5">
                <h3 class="text-theme-colored text-uppercase mt-0">OUR PLANS FOR THE COMING YEARS</h3>
                <p style="font-size:18px;">
                    

                    Establish education fund to continue helping youth complete school without leaving anyone out because of lack of funds, give financial assistance to talented exceptional poor youth to continue Federal or State Polytechnics or college of Education in order to be better equipped to be gainfully employed or become an entrepreneur. We plan to develop the women to become entrepreneurs in their various small trading specialties through grants and tutoring on how to manage their businesses.
                   

                   
                </p>
                
            </div>
        </div>
    </div>
</section>


<section class="divider parallax layer-overlay overlay-deeper" data-stellar-background-ratio="0.2" data-bg-img="/pic/bg001.jpg" style="background-image: url('../pic/bg001.jpg'); background-position: 50% 362px;">
    <div class="container">
        <div class="section-content text-center">
            <div class="row">
                <div class="col-md-12">
                    <h3 style="color:#ffffff;font-weight:900;">Do You Know?</h3>
                    <h6 class="text-white" style="font-size:18px;">
                        The "Catch Them Young Project will ensure that all children from three to Seven years are given the opportunity to read, write, know basic maths and social skills pre-primary and while in primary school. IWEI will ensure that these children enroll in primary schools and attend their full potentials. The classes will be free taught by volunteers from our beneficiaries and our women will ensure that their children attend.

                        <br /><br />
                        [WEI is deeply concerned over the high rate of school drop outs among the children and youths in rural areas. Unfortunately some parents cannot afford to pay the so called levies and fees still collected at primary and secondary schools in Abia and other states An Idle Child or Youth is the devil's workshop. A Mind Is A Terrible Gift To Waste. These youths are the future of the world and among them are the great minds that can lead the people into a brighter tomorrow as Scientists, President, Technology experts, inventors. Artists, Noble Prize winners, etc.
                        <br /><br />
                        If we do not teach the disadvantaged women and youth of our rural communities how to fish they will immigrate hopelessly to unknown urban areas to face the harsh conditions that make them vulnerable tools in the hands of criminal human and drug traffickers.


                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>